$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,600);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,300,600);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
$font-nav: 'Open Sans', sans-serif;
$font-body: 'Lato', sans-serif;
$font-title: 'Raleway', sans-serif;
$font-main: 'Montserrat', sans-serif;

$primary-color: #00A388;
$dark: #111111;
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

//////////////////////////////// LAYOUT /////////////////////////////////////////

html, body, section {
  height: 100%;
}

section {
  padding-top: 15rem;
  position: relative;
  .container {
    top: 50%;
  }
}

.body-wrapper {
  margin-left: 4rem;
  margin-right: 4rem;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font: 150% $font-body;
  margin: 0;

  p {
    letter-spacing: 1px;
  }

  h1 {
    font: 400% $font-title;
    font-weight: 800;
    letter-spacing: 2px;
  }
  h2 {
    font: 300% $font-title;
    font-weight: 600;
  }

  h3 {
    font: 200% $font-title;
    font-weight: 600;
  }

  h4 {
    font: 150% $font-title;
    font-weight: 400;
  }
}

//////////////////////////////// TEXT /////////////////////////////////////////
strong {
  color: $primary-color;
}

a {
  color: #000000;
}

a:hover {
  color: #00A388;
  text-decoration: none;
  -webkit-transition:color 0.5s ease-in;
  i {
    color: #00A388;
    -webkit-transition:color 0.5s ease-in;
  }
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

//////////////////////////////// NAVIGATION //////////////////////////////////
// header / navbar
.header {
  margin-bottom: 20px;
  .navbar-default .nav .navbar-nav {
    li {
      color: #000000;
    }
    .active {
      color: #00A388;
    }
  }
}

#navigation-container {
  width: 100%;
}

.sticky {
  background-color: #000;
  a {
    color: #fff;
  }
  a:hover {
    color: #00A388;
  }
}

#nav {
  margin: 0;
  padding: 0;
}

.navbar-default {
  background-color: #fff;
  border-color: #fff;
}

.navbar-nav {
  float: none;
  text-align: center;
  width: 100%;

  li {
    display: inline-block;
    float: none;
    font: 100% $font-nav;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.top-nav-collapse {
  color: #fff;
  width: 100%;
  padding: 0; 
}

#main {
  #fade {
    display: none;
  }
}

#resume {
  .resume-download {
    text-align: center;
    padding: 20px 0px 0px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .navbar {
    padding: 20px 0;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

//////////////////////////////// SVG //////////////////////////////////
path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 10;
  animation: draw 5s linear;

}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

